body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.text-green {
  color: #00d65f;
}

.text-blue {
  color: rgb(68, 92, 230);
}

.text-red {
  color: red;
}

.text-white {
  color: white;
}

.text-black {
  color: black;
}

/////fontstyle///////
.text-bold {
  font-weight: bold;
}

.text-font-small {
  font-size: 1.5rem;
}

.text-h3 {
  font-size: 2.5rem;
}

/////////background////////
.bg-blue {
  background-color: #0071eb;
}

.bg-white {
  background-color: white;
}
