.AutoFlexContainer {
  position: relative;
  &--condense {
    display: flex;
    flex-direction: column;
    height: 4vh;
  }
  &--notCondense {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
