button {
  font-family: inherit;
  border-radius: 5px;
  color: white;
  border: none;
  padding: 1rem;
  transition: all 0.1s;

  &:hover {
    cursor: pointer;
    transform: translateY(-3px);
  }

  &:active {
    transform: translateY(3px);
  }

  &.btn {
    &--red {
      background-color: red;
    }
    &--large {
      font-size: 2.75rem;
    }
    &--black {
      background-color: black;
      color: white;
      border: solid white 1px;
    }
    &--sharpEdge {
      border-radius: 0;
    }
  }

  @include respond(tab-land) {
    &.btn {
      &--large {
        font-size: 2.25rem;
      }
    }
  }
  @include respond(phone) {
    &.btn {
      &--large {
        font-size: 1.25rem;
      }
    }
  }
}
