.ContentDetails {
  width: 100%;
  min-height: 25vh;
  font-size: 2rem;

  @include respond("tab-port") {
    padding: 6rem;
  }
  @include respond("phone") {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0rem;
  }
  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__middle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70vw;
    @include respond("tab-port") {
      width: 90vw;
    }
  }
  &__left {
    width: 50%;
    margin-left: 2.5vw;
    & > * {
      margin-bottom: 2rem;
    }
  }
  &__image {
    & > img {
      max-height: 40vh;
    }
  }
  &__title {
    font-size: 5rem;
  }
  &__infoSnippet {
    display: flex;
    @include respond("phone") {
      height: 4rem;
    }
    & > * {
      margin-right: 1rem;
      margin-bottom: 1rem;
    }
    &--rating {
      border: 1px solid white;
    }
  }
  &__score {
    &--green {
      color: green;
    }
    &--red {
      color: red;
    }
    &--yellow {
      color: yellow;
    }
  }

  &__plot {
  }
  &__buttonGroup {
    width: 70%;
    @include respond("tab-land") {
      width: 100%;
    }
    &--play {
      display: flex;
      align-items: center;
      justify-content: space-between;

      & > * {
        display: flex;
        align-items: center;
        font-size: 1.75rem;

        &:nth-child(1) {
          padding: 1rem;
          width: 30%;
          display: flex;
          justify-content: space-between;
        }
        &:nth-child(2) {
          padding: 1rem;
          width: 30%;
          display: flex;
          justify-content: space-between;
          border: 1px white solid;
        }
      }
    }
  }
}
