.ContentRow {
  display: flex;
  justify-content: space-between;
  width: 250%;
  position: absolute;
  transition: transform 300ms ease 100ms;
  background-color: black;
  z-index: 1;
  @include respond("tab-land") {
    width: 300%;
  }
  @include respond("tab-port") {
    width: 375%;
  }
  @include respond("phone") {
    width: 500%;
  }
  &:hover {
    z-index: 4;
  }

  &:hover .ContentBox {
    transform: translateX(0%);
    border: 3px solid black;
    z-index: 7;
  }
  &:hover .ContentBox:hover ~ .ContentBox {
    transform: translateX(20%);
    z-index: 4;
  }
  &:hover .ContentBox:hover {
    transform: scale(1.4);
  }
  &__container {
    display: flex;
    justify-content: space-between;
    width: 250%;
    position: absolute;
    transition: transform 300ms ease 100ms;
    background-color: black;
    z-index: 1;
  }
}
