.hr--grey {
  background-color: $color-grey-dark-3;
  height: 10px;
  width: 100%;
}

.hr--grey2 {
  background-color: $color-grey-light-2;
  height: 5px;
  width: 5px;
}

.hr--grey3 {
  background-color: $color-grey-light-2;
  height: 3px;
  width: 100%;
}
